*{
  margin: 0;
  padding: 0;
  font-size: 0.75rem;
  box-sizing: border-box;
  font-family: inherit;
}

/* removing default date styling  */
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}
input[type="date"]::-moz-calendar-picker-indicator {
  display: none;
}
input[type="date"]::-moz-inner-spin-button,
input[type="date"]::-moz-clear {
  display: none;
}

nav {
  display: flex;
  justify-content: flex-start;
  font-weight: bold;
  margin-bottom: 1.125rem;
}

header {
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FAFAFA;
  border: 1px solid gray;
  margin-left: 20rem;
  padding: 1.125rem 1rem;
}

h1{
  font-size: 1.5rem;
  color:#2d2363;
}

/* buttons */
.primary{
  background-color: #141413;
  color: #FAFAF8;
}

button:focus {
  outline: none;
  box-shadow: none;
}
.standard{
  padding: 0.55rem 0.88rem;
}

nav > button{
  border: 1px solid #d9d9d9;
  border-radius: 0;
   
}

.active-section{
  color: #475467;
  background-color: #D9D9D9;
}