/* styling the entry form */

#entry-form{
  margin-bottom: 1rem;
}

#entry-form > div#row1 {
  display: flex;
  margin-bottom: 1.125rem ;
  gap: 1.5rem;
  justify-content: space-between;
}

div#row1 > input {
  width: 150px;
  font-size: 0.75rem;
  padding: 0.55rem 0.88rem;
  border: 1px solid #D1D5DB;
  border-radius: 6px;
}

div#row1 > button{
  width: 125px;
  text-align: center;
  font-size: 0.85rem;
}

#entry-form > div#row2{
  display:flex;
  justify-content: space-between;
  margin: 1.18125rem 0;
}

div#row2 > select{
  width: 100px;
  display: flex;
  align-self: center;
  background-color: #F0EFEB;
  border: 1px solid #D1D5DB;
  padding: 0.55rem 0.4rem;
  border-radius: 6px;
} 

#date-input > label > i{
  font-size: 2rem;
  color: #B3B3B3;
}

#date-input > label > input {
  background-color: #F0EFEB;
  padding: 0.55rem 0.4rem;
  font-family: inherit;
  border-radius: 6px;
  border: 1px solid #D1D5DB;
}

textarea {
  resize: none;
  background-color: #F0EFEB;
  width: 100%;
  height: 4.375rem;
  border: 1px solid #D1D5DB;
  border-radius: 6px;
  padding: 0.55rem 0.88rem;
}

/* styling the entry table */

#table-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  background-color: inherit;
}


.month-selection{
  border: none;
}


#tabs-container{
  display: flex;
}

#tabs-container>button{
  flex-grow: 1;
  background-color: #F0EFEB;
  border: 1px solid #D1D5DB;
  border-radius: 6px 6px 0 0;
  font-weight: 600;
  border-bottom: none;
}

#overview-list{
  background: #fafafa;
  border: 1px solid #D9D9D9;
  min-height: 100px;
}

li.overview-item{
  border-bottom: 1px solid #D1D5DB;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.7rem 1rem;
}

div.overview-header{
  display: flex;
  justify-content: space-between;
}

div.overview-footer{
  display: flex;
  justify-content: space-between;
  font-size: 0.6rem;
}

p.li-number{
  font-weight: 500;
  min-width: 50px;
  text-align: right;
}

div#overview-list>li:last-child{
  border-bottom: none;
}

/* styling the summary section */

section#summary-section{
  margin: 1rem 0;
}

ul#summary-list>li{
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  gap: 2rem;
}
ul#summary-list>li{
  padding: 0.875rem 1rem;
  background-color: #fff;
  border-radius: 6px;
  margin: 1.7rem 1rem;
}

ul#summary-list>li>.li-number{
  color: #475467; 
}

ul#summary-list{
  background-color: #F0EFEB;
  border: 1px solid #D1D5DB;
  border-radius: 6px;
}

#trxn-btn::before{
  content: "+";
  margin-right: 5px;
}

#tabs-container>.active-tab{
  color: #475467;
  background-color: #D9D9D9;
}

/* styling the finance metrics */

.finance-metrics-table{
  background: #fafafa;
  border: 1px solid #D9D9D9;
  min-height: 100px;
  padding: 1rem;
}

.metric-title{
  font-size: 1rem;
  color:#2d2363;
  font-weight: 500;

}
.metric-content{
  padding: 1rem 0;
}

.metric-content > li{
  list-style: none;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #D9D9D9;
  padding: 0.4rem 0;
}

.metric-content>li:last-child{
  border-bottom: none;
}